<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>dw-web galería</title>
        <link rel="icon" type="image/png"  href="../res/dwWeb16x16.png">
    </head>
    <body>
        <div class="container">
            <div class="row">
            <div  class="col-lg-4">
            <img src="../res/dwWeb144x144.png" style="max-width: 100%;" >
        </div>
            <h1 class="col-lg-8 ">Galer&iacute;a dw-web</h1>
            </div>
        </div>
        <div class="container">
            
            Seleccionar p&aacute;gina
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                <button id = "crear">crear grupo</button>
            </div>
            <div class="col-lg-6">
                <button>eliminar grupo</button>
            </div>
            </div>
            <br>
            <div class="row" >
            <div class="col-lg-4" style="  background-color: aqua">
                <div class="col-lg-10" >
                    Sin grupo(3)
                    <img src="../res/folder.png" style="max-width: 100%;"> 
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="col-lg-10">
                    Investigaci&oacute;n(2)
                    <img src="../res/folder.png" style="max-width: 100%"> 
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="col-lg-10">
                    Documentaci&oacute;n(4)
                    <img src="../res/folder.png" style="max-width: 100%"> 
                </div>
            </div>
        </div>
    </div>
    <script scr="view/script.js" type='text/javascript'></script>
    </body>
    
</html>